ion-content{
  --background: white;
}

.btn-cadastrar{
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin: 10px;
}

.botaoNovo{
  border-radius: 20px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  display: block;
  background: red;
}

Button 
.mat-raised-button {
    max-width: 130px;
  }
