<ion-header no-border>
  <ion-navbar transparent>
    <ion-title>Assinatura</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div style="text-align: center">
      <signature-pad [options]="signaturePadOptions" id="signatureCanvas">

      </signature-pad>

    </div>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <ion-button full color="secondary" (click)="drawClear()"> Limpar Assinatura</ion-button>
          </ion-col>
          <ion-col col-6>
              <ion-button full color="secondary" (click)="drawComplete()"> Gerar Assinatura</ion-button>
          </ion-col>      
        </ion-row>

      </ion-grid>
    </div>
</ion-content>
