ion-content{
  --background: rgb(248, 248, 248);
}

.btn-cadastrar{
  width: 95%;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: gray;
  margin: 10px;
}

.botaoNovo{
  border-radius: 20px;
}

Button 
.mat-raised-button {
    max-width: 130px;
  }
